* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.box-shadow {
  /* border: solid 1px #DDDDDD; */
  border-radius: 3px;
  background-color: #FFF;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

@font-face {
  font-family: "PingFang SC";
  src: url(/static/fonts/PingFang-SC.ttf);
}

html, body, h1, h2, h3, h4, h5, h6, button, input {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微軟雅黑", Arial, sans-serif;
}